/data/NTU60/nturgb+d_skeletons
/data/NTU60/raw_data
/data/NTU60/denoised_data
/data/NTU60
/.idea
/img
data/EC3D/3D
data/EC3D/DCT_V2/
data/EC3D/DCT_V3/
data/EC3D/DCT_V4/
data/EC3D/original/
__pycache__/
